.badge {
    padding: 5px 12px;
    display: inline-block;
    font-size: rem(10);
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    text-transform: uppercase;

    &-pill {
        border-radius: 25px;
    }

    &-primary {
        background-color: $color-primary;
        color: $color-white;
    }

    &-clickable {
        cursor: pointer;
    }
}