* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-lato;
    overflow-x: hidden;
}

textarea {
    resize: none;
}

a, li {
    text-decoration: none;
}

h1, h2, h3, h4, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    font-size: rem(16);
    font-family: $font-lato;
}

img {
    width: 100%;
    height: auto;
}

input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
    }
}



.grecaptcha-badge{
	visibility: collapse !important;
}
