.form {
    &-group {
        position: relative;
        flex: 1 0 auto;
    }

    &-control {
        display: block;
        padding: 5px 0 10px;
        margin: 30px 0;
        border: none;
        outline: none;
        border-bottom: 1px solid $color-grey;
    
        &:hover {
            border-bottom: 1px solid $color-grey;
        }
    
        &:focus {
            border-bottom: 1px solid $color-primary;
        }
    
        &:valid {
            border-bottom: 1px solid $color-primary;
        }
    
        &:focus + .placeholder,
        &:valid + .placeholder {
            font-size: 75%;
            color: $color-primary;
            transform: translate3d(0, -100%, 0);
        }
    }
}

.form-control-default {
    padding: 6px 12px;
    border: 2px solid lighten($color-grey, 40%);
    border-radius: 4px;
    background-color: $color-white;
    max-width: 600px;
    width: 100%;
    color: $color-grey;

    &-icon {
        background-position: 8px 3px; 
        background-repeat: no-repeat;
        padding: 6px 12px 6px 40px !important;
    }

    &-icon-lg {
        padding: 12px 24px 12px 40px !important;
        background-position: 10px 10px; 
    }

    &-lg {
        padding: 12px 24px;
    }

    &-label {
        display: block;
        margin-bottom: 10px;
        margin-top: 25px;
    }
}

.placeholder {
    position: absolute;
    top: 0;
    padding: 5px 0 0;
    pointer-events: none;
    transition: all 200ms;
    opacity: 0.5;
    font-size: rem(14);
}

.transformed-label {
    font-size: 75%;
    color: $color-primary;
    transform: translate3d(0, -100%, 0);
}

.untransformed-label {
    font-size: rem(14) !important;
    color: inherit !important;
    transform: initial !important;
}

.initial-border {
    border-bottom: 1px solid $color-grey !important;
}