.modal {
    display: none;
    position: fixed; 
    z-index: 2000;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    .close {
        &-modal {
            color: $color-grey;
            font-size: rem(28);
            
            &:hover {
                color: darken($color-grey, 20%);
                cursor: pointer;
            }
        }

        &-modal-img {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: rem(40);
            font-weight: bold;
            transition: 0.3s;
    
            &:hover, &:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    .modal-content {
        background-color: $color-white;
        margin: auto;
        max-width: 500px;
        border-radius: 4px;
        padding: 0 12px 12px 12px;
        
        &-img {
            padding: 0;
            max-width: 1300px;

            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;

            @-webkit-keyframes zoom {
                from {-webkit-transform:scale(0)} 
                to {-webkit-transform:scale(1)}
            }
              
            @keyframes zoom {
                from {transform:scale(0)} 
                to {transform:scale(1)}
            }
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            font-weight: 600;

            & p {
                margin-top: 10px;
            }
        }

        .modal-body {
            padding: 20px 0;
            
            .form-group:first-child {
                & input {
                    margin: 0;
                }
            }
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
            
            & a, & button {
                margin-left: 10px;
            }
        }
    }
}

