// Footer
footer {
    color: $color-grey;
    text-align: left;

    & h5 {
        margin: 0;
    }

    @include lg {
        text-align: center;

        & h5, & img {
            padding-top: 30px;
        }
    }

    @include sm {
        & img {
            padding: 0;
            width: 30% !important;
        }
    }
}

.footer-item {
    margin: 5px 0;
    
    .footer-link {
        text-align: center;
        color: lighten($color-grey, 20%);
    }

    &:hover {
        font-weight: 600;
    }
}

.footer-copyright {
    margin-top: 50px;
    padding: 15px 0;
    background-color: $color-primary;

    & p {
        color: $color-white;
    }
}

