.container {
    margin: 0 auto;
    max-width: 1600px;
}

.container-fluid {
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -1%;
}

@for $i from 0 through $grid-columns {
    .col-#{$i} { 
        width: 100% / $grid-columns * $i;
        padding: 0% 3%;
    }

    .offset-#{$i} {
        margin-left: 100% / $grid-columns * $i;
    }
}

@include xxl {
    @for $i from 0 through $grid-columns {
        .col-xxl-#{$i} { 
            width: 100% / $grid-columns * $i;
        }

        .offset-xxl-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }
}

@include xl {
    @for $i from 0 through $grid-columns {
        .col-xl-#{$i} { 
            width: 100% / $grid-columns * $i;
        }

        .offset-xl-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }
}

@include lg {
    @for $i from 0 through $grid-columns {
        .col-lg-#{$i} {
            width: 100% / $grid-columns * $i;
        }

        .offset-lg-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }
}

@include md {
    @for $i from 0 through $grid-columns {
        .col-md-#{$i} {
            width: 100% / $grid-columns * $i;
        }

        .offset-md-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }
}

@include sm {
    @for $i from 0 through $grid-columns {
        .col-sm-#{$i} {
            width: 100% / $grid-columns * $i;
        }

        .offset-sm-#{$i} {
            margin-left: 100% / $grid-columns * $i;
        }
    }
}