.sidenav {
    display: flex;
    flex-direction: column;
    width: 200px;
    z-index: 1;
    background-color: $color-white;
    overflow-x: hidden;
    padding-top: 80px;
    border-right: 1px solid lighten($color-grey, 40%);

    .sidenav-nav, .dropdown-btn {
        display: inline-flex;
        padding: 10px;
        font-weight: 600;
        transition: 0.2s;
        width: 100%;
        color: $color-grey;
        font-size: rem(19);
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }
        
        & i {
            margin-right: 5px;
        }
    }

    .dropdown-container {
        display: none;
        
        & span {
            font-size: rem(16);
            padding-left: 20px;
        }
    }

    .active {
        color: $color-primary;
        background-color: rgba(0, 0, 0, 0.08);
    }
}