.left-menu {
    & li {
        margin-bottom: 10px;
        
        & a {
            color: $color-grey;

            &:hover {
                color: darken($color-grey, 10%);
                font-weight: 600;
            }
        }
    }
}

.right-side {
    text-align: justify;

    & h6 {
        font-weight: 700;
        margin: 30px 0 10px;
    }
}