#trip-steps {
    .trip-title {
        margin-top: 15px;
        color: darken($color-grey, 10%);
    }

    .step-title {
        color: darken($color-grey, 10%);
    }
    
    .divider {
        margin: 5px auto 10px;
    }

    h2 {
        margin-bottom: 10px;
    }
}

#trip-author, #trip-comments, #post-comment {
    .author {
        &-avatar {
            margin-right: 20px;
        }

        &-avatar-description {
            width: 100px;
            height: 100px;
            box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
                        0 4px 25px 0px rgba(0, 0, 0, 0.12),
                        0 8px 10px -5px rgba(0, 0, 0, 0.2);
        }
        
        &-avatar-comment {
            width: 50px;
            height: 50px;
            box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
                        0 4px 25px 0px rgba(0, 0, 0, 0.12),
                        0 8px 10px -5px rgba(0, 0, 0, 0.2);
        }
        
        &-details {
            display: flex;
            flex-direction: row;
        }

        &-description, &-comment {
            & h2 {
                margin-bottom: 10px;
            }
        }
    }

    .comment-date {
        color: $color-grey;
        font-weight: 400;
        font-size: rem(13);
    }
}