.d {
    &-inline {
        display: inline !important;
    }
    
    &-block {
        display: block;
    }
    
    &-flex {
        display: flex;
    }

    &-flex-end {
        display: flex;
        justify-content: flex-end;
    }

    &-none {
        display: none;
    }
}

.align-self {
    &-end {
        align-self: flex-end;
    }
}

.flex {
    &-wrap {
        flex-wrap: wrap;
    }

    &-column {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }
}