$positions: static, relative, absolute, fixed, sticky;

$fixed-position-list: (
    'fixed-top': (
        top: 0,
        right: 0,
        left: 0,
    ),
    'fixed-bottom': (
        right: 0,
        bottom: 0,
        left: 0,
    ),
    'fixed-left': (
        top: 0,
        left: 0,
    ),
    'fixed-right': (
        top: 0,
        right: 0,
    ),
);

@each $position in $positions {
    .position-#{$position} {
        position: $position;
    }
}

@each $item, $value in $fixed-position-list {
    .#{$item} {
        position: fixed;
        top: map_get($value, top);
        bottom: map_get($value, bottom);
        left: map_get($value, left);
        right: map_get($value, right);
    }
}