@for $i from 1 through 100 {
    .w-#{$i} { 
        width: round(percentage($i / 100));
    }

    .mw-#{$i} {
        max-width: round(percentage($i / 100));
    }

    .vw-#{$i} { 
        width: #{($i / 1)}vw;
    }
}

@for $i from 1 through 100 {
    .h-#{$i} { 
        height: round(percentage($i / 100));
    }
    
    .mh-#{$i} {
        max-height: round(percentage($i / 100));
    }

    .vh-#{$i} {
        height: #{($i / 1)}vh;
    }
}

.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}

.min-height-container {
    min-height: 400px;
}