@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

$text-alignements: left, right, center, justify, initial;
$text-transforms: uppercase, lowercase, capitalize, none, initial, inherit;
$text-colors: (
    'text-success': (
        color: $color-tertiary,
    ),
    'text-danger': (
        color: $color-danger,
    ),
    'text-warning': (
        color: $color-warning,
    ),
    'text-primary': (
        color: $color-primary,
    ),
    'text-white': (
        color: $color-white,
    ),
    'text-grey': (
        color: $color-grey,
    ),
    'text-quaternary': (
        color: $color-quaternary,
    ),
);

@each $align in $text-alignements {
    .text-#{$align} {
        text-align: $align;
    }
}

@each $transform in $text-transforms {
    .text-#{$transform} {
        text-transform: $transform;
    }
}

@each $item, $value in $text-colors {
    .#{$item} {
        color: map_get($value, color);
    }
}

@for $i from 1 through 7 {
    .heading-#{$i} {
        font-size: rem(90 - ($i * 10));
    }
}

.text-subtitle {
    font-size: $text-subtitle;
}

.text-paragraph {
    font-size: $text-paragraph;
}

.text-small {
    font-size: $text-small;
}

.initial-color-link {
    color: #0000FF;
    cursor: pointer;
}

.initial-color-link:visited {
    color:#0000FF;
}